body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
h1{
  font-family: "Philosopher";
  color: #52164A;
  font-size: 3em;  
  font-weight: 600;
}
h2{
  font-family: "Philosopher";
  color: #52164A;
}
h5{
  font-family: "Philosopher";

}
p {
  font-family: 'Roboto';
  font-size: 1.2em;
}
img {
  padding: 0 !important;
}
button {
  padding: 8px 30px 8px 30px !important;
}

footer {
  background: #2f373d;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

footer i {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  cursor: pointer;
}

footer a {
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 60px;
  cursor: pointer;
  color: #848484;
}
footer a:hover {
  color: #848484;
}

footer b {
  color: #848484;
}

.two-foot-button {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.two-foot-button-custome {
  width: 178px;
  height: 44px;
  background-color: black;
}

.two-foot-address {
  color: #848484;
  margin-top: 30px;
}

/* Nav & Header */
header {
  background-color: black;
  height: 70vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
  background-image: url(/image/header.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-left: 5px;
  padding: 0 15px 0 15px !important;
  width: 100%;
}
.navbar-toggler {
  border-color: white !important;
}

.one-navbar-ul {
  font-size: 14px;
}

.navbar-nav a {
  color: white !important;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1em;
}
.navbar-nav a:hover {
  color: #9c9999 !important;
}

.header-son {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header-logo {
  width: 150px;
  margin-bottom: 50px;
}
.one-desc-wrapper p strong {
  display: block;
  font-weight: 43px;
  font-style: normal;
  font-size: 43px;
  letter-spacing: 0px;
  text-transform: none;
  line-height: 1.1em;
  color: #fff;
  font-family: "Philosopher";
  margin-bottom: 5px;
}
.fixed-btn {
  position: fixed;
  right: 1vw;
  top: 20vh;
  z-index: 99;
}
.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #52164A;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #52164A;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
  animation: shake 2s;
  animation-iteration-count: infinite;
}
.icon-block2 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #52164A;
  height: 50px;
  width: 50px;
  color: white;
  background-color: #52164A;
  font-size: 20px;
  line-height: 50px;
  border-radius: 50%;
}
.call-btn:hover {
  text-decoration: none !important;
}
@keyframes shake {
  0% { transform:  rotate(0deg); }
  25% { transform:  rotate(-25deg); }
  50% { transform:  rotate(0); }
  75% { transform:  rotate(-25deg); }
  100% { transform:  rotate(0); }
}

.flex-li-container {
  display: flex;
  justify-content: space-between;
}
.flex-li {
  flex:1;
  display: flex;
  justify-content: space-between;
}

.my-jumbotron {
  background-color: #52164A;
  color: white;
  width: 100vw !important;
  box-sizing: border-box;
} 
.my-jumbotron h1,h2 {
  color: white;
}
.my-form {
  background-color: #B5B4B2;
  color: black;
}
.lib-img {
  height: 220px;
}

.carousel-indicators li {
  background-color: #52164A !important;
}
.carousel-control-prev {
  left: -10%;
}
.carousel-control-next {
  right: -10%;
}
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352164A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2352164A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }
@media only screen and (max-width: 640px) {
  header {
    height: 40vh;
  }
  .logo {
    visibility: hidden;
  }
  .one-desc-wrapper p strong {
    font-size: 20px;
    text-indent: -9999px;
  }
  .form-title, .hide-on-small {
    display: none;
  }
  .card-title {
    font-size: 12px;
    font-weight: bold;
  }
  .card p {
    font-size: 10px;
  }
  .my-form {
    padding-left: 3 0px;;
  }
}

